<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eventtracker.eventtrackerapp">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/tracker"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tracker"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventTrackerApp">
        <activity
            android:name="com.eventtracker.eventtrackerapp.AddItemActivity"
            android:exported="true" />
        <activity
            android:name="com.eventtracker.eventtrackerapp.RegisterActivity"
            android:exported="true" />
        <activity
            android:name="com.eventtracker.eventtrackerapp.ItemsListActivity"
            android:exported="true" />
        <activity
            android:name="com.eventtracker.eventtrackerapp.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
